// Font
$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;

// Colors
$primary: #5183f5;
$font-color: #404040;
$light-font-color: #d0d0d0;
$light-theme-background: #f5f5f5;
$accent-gray: #d0d0d0;
$accent-lightgray: lighten($accent-gray, 12%);
$backdrop-background: blue;
$error: #f2777a;
$app-sidebar-color: #333;

$code-font-color: #b3b9c5;
$string: #92d192;
$variable: #f2777a;
$property: #abb2bf;
$number: #fca369;
$operator: #ac8d58;
$punctuation: #d5d8df;
$comment: #777c85;
$function: #62cfcf;
$keyword: #ffeead;
$attribute: #ffd479;
$class: #e1a6f2;
$tag: #6ab0f3;

// Gradients
$list-container-gradient: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);

// Sizes
$app-sidebar-width: 400px;
