// Font
$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;

// Colors
$font-color: #222;
$backdrop-background: rgba(black, 0.6);
$primary: #6f4bfb;
$error: #f54d50;
$success: #26d062;

// Gradients
$gradinet-green: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
$gradinet-violet: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
$gradinet-pink: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
$gradinet-grey-1: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
$gradinet-grey-2: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

$layout-gradient: $gradinet-grey-2;
$layout-gradient--logged: $gradinet-pink;
$quiz-gradient: $layout-gradient;

// Sizes
$drawer-width: 280px;
$container-width: 600px;

$drawer-transition-duration: 0.3s;
$box-shadow: 10px 10px 10px rgba(black, 0.1);
