.QuizList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

    ul {
        padding: 30px 60px 20px;
        border-radius: 10px;
        background: #fff;
        box-shadow: $box-shadow;
        width: $container-width;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        flex: 0 1 50%;
        text-align: center;
        margin-bottom: 15px;
    }
}
