.QuizList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
    ul {
        border: 2px solid #000;
        padding: 30px 60px 20px;
        border-radius: 10px;
    }

    li {
        margin-bottom: 15px;
    }
}
