.QuizList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);

    li {
        margin-bottom: 15px;
    }
}
