.Drawer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: $drawer-width;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    z-index: 90;
    transform: translateX(0px);
    transition: transform $drawer-transition-duration;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 3px solid #000;

    &.close {
        transform: translateX(-#{$drawer-width});
    }

    li {
        margin-bottom: 15px;
    }

    a {
        font-size: 30px;
    }
}

.Email {
    font-weight: 600;
}
