.Drawer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: #fff;
    z-index: 90;
    transform: translateX(0px);
    transition: transform 0.2s;

    &.close {
        transform: translateX(-300px);
    }

    li {
        margin-bottom: 15px;
    }

    a {
        font-size: 30px;
        padding: 0 20px 10px 20px;
    }
}
