.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);

    h1 {
        color: #fff;
        text-shadow: 1px 1px black;
    }
}

.QuizWrapper {
    width: 600px;
}
