.FinishedQuiz {
    box-sizing: border-box;

    li {
        padding-right: 20%;

        i {
            margin-left: 10px;
        }
    }
}

.success {
    color: $success;
}

.error {
    color: $error;
}
