.Modal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: fixed;
    top: 0;
    height: 100%;

    .overlay {
        background: $backdrop-overlay;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .inner {
        background: #fff;
        padding: 12px 15px;
        border-radius: 20px;
        justify-self: center;
        align-self: center;
        min-width: 450px;
        min-height: 250px;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .head {
        display: flex;
        align-items: center;
    }

    .name {
        margin: 0;
        padding-left: 5px;
    }

    .close {
        color: $black;
        margin-left: auto;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 5px;
        padding: 5px;
    }

    .content {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buttons {
        margin-top: 10px;
        text-align: center;
    }
}
