html {
    box-sizing: border-box;
    font-size: 1rem;
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $sans-serif;
    color: $black;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::selection {
    background: $primary;
    color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    display: block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(black, 0.2);

    &:hover,
    &.active {
        text-decoration: underline;
    }
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.form {
    width: 100%;
    max-width: $container-width;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: $box-shadow;
    background: #fff;

    button {
        align-self: center;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &.outlined {
        border: 2px solid #000;
    }
}
