.Button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    color: #000;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
    cursor: pointer;

    &:hover {
        box-shadow: none;
    }

    &:focus {
        outline: none;
    }

    &:active {
        border: 1px solid #000;
    }

    &:disabled {
        background: #ccc;
        color: #000;
        cursor: not-allowed;
    }
}

.success,
.error {
    color: #fff;
}

.success {
    background: rgba(green, 0.5);
}

.error {
    background: rgba(red, 0.5);
}

.primary {
    background: #f3e3f3;
}
