.AnswerItem {
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    background: #eee;
    transition: 0.24s ease-out;

    &:hover {
        background: #dedede;
        transition: background 0.2s;
    }

    &.success {
        background: $success;
    }

    &.error {
        background: $error;
    }

    &.success,
    &.error {
        border-color: transparent;
        color: #fff;
    }
}
