.AnswerItem {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;

    &:hover {
        background: rgba(white, 0.2);
        transition: background 0.2s;
    }

    &.success {
        background: rgba(#46bf71, 0.95);
    }

    &.error {
        background: rgba(red, 0.6);
    }

    &.success,
    &.error {
        border-color: transparent;
    }
}
