.Input {
    margin-bottom: 15px;

    &.invalid {
        label {
            color: $error;
        }
    }

    label {
        margin-bottom: 5px;
        padding: 0;
        display: block;
        font-weight: bold;
    }

    input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        border: none;
        background: #f5f5f5;
        padding: 7px;
        margin: 0 0 5px;
        outline: none;
        transition: 0.3s;
        border-radius: 10px;
        padding: 8px 14px;

        &:focus {
            background: darken(#eee, 0.5);
        }
    }

    span {
        color: $error;
        font-size: 11px;
        font-weight: 600;
        margin-top: -4px;
        display: block;
    }
}
