.ActiveQuiz {
    box-sizing: border-box;
}

.Question {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    small {
        flex-shrink: 0;
        font-weight: 600;
        margin: 2px 0 0 6px;
    }
}
