.Auth {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);

    h1 {
        text-align: center;
    }
}

.AuthForm {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(black, 0.1);
    background: #eee;

    button {
        align-self: center;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}
