.App {
    text-align: center;
    width: 600px;
    margin: 100px auto;
    background: #eee;
    padding: 30px;
    border-radius: 16px;

    &-container {
        background: darken($color: #eee, $amount: 10);
        padding: 20px;
        border-radius: 16px;
    }

    input:focus {
        border: 2px solid #000;
    }
}
