.App {
    text-align: center;
    width: 80vh;
    margin: 0 auto;
    background: #eee;
    border-radius: 16px;
    padding: 30px;

    &-container {
        background: darken($color: #eee, $amount: 10);
        padding: 20px;
        border-radius: 16px;
    }

    input:focus {
        border: 2px solid #000;
    }
}

.nav {
    a.active {
        font-weight: bold;
        background: blue;
        color: #fff;
    }
}
