.MenuToggle {
    position: fixed;
    font-size: 20px;
    top: 40px;
    left: 40px;
    cursor: pointer;
    transition: opacity, left 0.22s;
    z-index: 100;
    background: #fff;
    color: $font-color;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $font-color;

    &.open {
        left: 320px;
    }
}
